@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');


.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 20px !important;
  font-weight: 700 !important;

}

.container-body {
  padding: 2em 0em 0em 2em;

}

.btn-primary {
  background-color: rgb(83, 126, 255) !important;
  border-color: rgb(83, 126, 255) !important;
}

.nav-link {
  color: rgb(36, 65, 154)!important;
}

/* MANGA DASHBOARD */
.pie-chart {
  max-width: 400px;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookmark-btn {
  margin: 0.2em !important;
}

/* MANGA TABLE */
.table {
  padding-top: 2em;
}
.table-row td{
  vertical-align: middle;
}
/* MANGA UPDATES */
.mangaCard img{
  max-height: 250px;
  object-fit: cover;
}

.update-card{
  margin: 1em 0em;
}
.update-btn {
  margin: 0.2em;
}
/* NAV BAR */
.nav-bar {
  margin: 2em 0em 6em 0em;
}

.nav-button {
  margin: 0.2em;
}

.nav-links {
  display: inherit;

}

.logo {
  width: 400px;
}

/* FOOTER */
.footer-img {
  width: 100%;
  object-fit: contain;
}


